<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address search</title>
</head>
<body>
    <h1>Address search</h1>
    <form action="{% url 'home' %}" method="get">
        <label for="address">Address string:</label><br>
        <input type="text" id="address" name="address" value="{{ address_value }}"><br>
        <label for="range">Range:</label><br>
        <input type="text" id="range" name="range" value="{{ range_value }}"><br><br>
        <input type="submit" id="search" value="Search">
    </form>
    <br>
    <div>{% include "geomap/common.html" %}</div>
</body>
</html>